{% extends "headerCategories.html" %}

{% block title %} Categorias {% endblock %}

{% block container %}

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crearCategoria' %}" role="button">Crear Nueva Categoria</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Categorias</h4>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Carga de Trabajo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% for categoria in categorias %}
                    <tr>
                        <td>{{ categoria.id }}</td>
                        <td>{{ categoria.nombre }}</td>
                        <td>{{ categoria.descripcion }}</td>
                        <td>{{ categoria.cargaTrabajo }}</td>    
                        <td>
                            <a name="" id="" class="btn btn-info" href="{% url 'editarCategoria' categoria.id %}" role="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Editar"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminarCategoria' categoria.id %}" role="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Eliminar"><i class="fa-solid fa-trash-can"></i></a>
                            <a name="" id="" class="btn btn-secondary" href="{% url 'configuraciones' categoria.id %}" role="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Configuraciones"><i class="fa-solid fa-gear"></i></a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

{% endblock %}