{% extends "headerCustomers.html" %}

{% block title %} Clientes {% endblock %}

{% block container %}

<div class="card">
    <div class="card-header">
        Editar Cliente
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos del Cliente</h4>

        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="" class="form-label">NIT</label>
                <input type="text" class="form-control" name="nit" id="" aria-describedby="helpId" placeholder="NIT", value="{{ cliente.nit }}" readonly>
                <label for="" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="" aria-describedby="helpId" placeholder="Nombre", value="{{ cliente.nombre }}">
                <label for="" class="form-label">Direccion</label>
                <input type="text" class="form-control" name="direccion" id="" aria-describedby="helpId" placeholder="Direccion", value="{{ cliente.direccion }}">
                <label for="" class="form-label">Correo Electronico</label>
                <input type="text" class="form-control" name="correoElectronico" id="" aria-describedby="helpId" placeholder="Correo Electronico", value="{{ cliente.correoElectronico }}">
                <label for="" class="form-label">Usuario</label>
                <input type="text" class="form-control" name="usuario" id="" aria-describedby="helpId" placeholder="usuario", value="{{ cliente.usuario }}">
                <label for="" class="form-label">Clave</label>
                <input type="text" class="form-control" name="clave" id="" aria-describedby="helpId" placeholder="clave", value="{{ cliente.clave }}">
            </div>

            
            <input name="" id="" class="btn btn-success" type="submit" value="Aceptar">
            <a name="" id="" class="btn btn-danger" href="{% url 'clientes' %}" role="button">Cancelar</a>

        </form>

    </div>
    <div class="card-footer text-muted">

    </div>
</div>

{% endblock %}