{% extends "headerMainMenu.html" %}

{% block title %} MenuPrincipal {% endblock %}

{% block container %}

<div class="card">
    <div class="card-header">
        Cargar Archivo de Configuracion
    </div>
    <div class="card-body">

        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <label for="" class="form-label">Archivo:</label>
            <input type="text" class="form-control" name="ruta" id="" aria-describedby="helpId" placeholder="Ingrese la ruta del archivo">
            <br/>
            <input name="" id="" class="btn btn-success" type="submit" value="Aceptar">
            <a name="" id="" class="btn btn-danger" href="{% url 'inicio' %}" role="button">Cancelar</a>

        </form>

    </div>
    <div class="card-footer text-muted">

    </div>
</div>

{% endblock %}