{% extends "headerResources.html" %}

{% block title %} Recursos {% endblock %}

{% block container %}

<div class="card">
    <div class="card-header">
        Editar Recurso
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos del Recurso</h4>

        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="" class="form-label">ID</label>
                <input type="text" class="form-control" name="id" id="" aria-describedby="helpId" placeholder="ID", value="{{ recurso.id }}">
                <label for="" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="" aria-describedby="helpId" placeholder="Nombre", value="{{ recurso.nombre }}">
                <label for="" class="form-label">Abreviatura</label>
                <input type="text" class="form-control" name="abreviatura" id="" aria-describedby="helpId" placeholder="Abreviatura", value="{{ recurso.abreviatura }}">
                <label for="" class="form-label">Metrica</label>
                <input type="text" class="form-control" name="metrica" id="" aria-describedby="helpId" placeholder="Metrica", value="{{ recurso.metrica }}">
                <label for="" class="form-label">Tipo</label>
                <input type="text" class="form-control" name="tipo" id="" aria-describedby="helpId" placeholder="tipo", value="{{ recurso.tipo }}">
                <label for="" class="form-label">Valor/Hora</label>
                <input type="text" class="form-control" name="valorXhora" id="" aria-describedby="helpId" placeholder="valor", value="{{ recurso.valorXhora }}">
            </div>
            
            <input name="" id="" class="btn btn-success" type="submit" value="Aceptar">
            <a name="" id="" class="btn btn-danger" href="{% url 'recursos' %}" role="button">Cancelar</a>

        </form>

    </div>
    <div class="card-footer text-muted">

    </div>
</div>

{% endblock %}

<!--{% include 'formulario.html' %}-->