{% extends "headerBills.html" %}

{% block title %} Factura {% endblock %}

{% block container %}

<div class="card">
    <div class="card-header">
        Rango de Fecha
    </div>
    <div class="card-body">

        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <label for="" class="form-label">Desde Fecha:</label>
            <input type="text" class="form-control" name="fechaInicio" id="" aria-describedby="helpId" placeholder="dd/mm/yyyy">
            <label for="" class="form-label">Hasta Fecha:</label>
            <input type="text" class="form-control" name="fechaFinal" id="" aria-describedby="helpId" placeholder="dd/mm/yyyy">
            <br/>
            <input name="" id="" class="btn btn-success" type="submit" value="Aceptar">
            <a name="" id="" class="btn btn-danger" href="{% url 'inicio' %}" role="button">Cancelar</a>

        </form>

    </div>
    <div class="card-footer text-muted">

    </div>
</div>

{% block script %}

{% endblock %}

{% endblock %}